* {
    box-sizing: border-box;
    font-family: Montserrat, monospace;
}

html {
    height: 100%;
}

body {
    width: 43%;
    margin: 0 auto;
    height: 50%;
}

div { cursor: pointer; }

.container {
    display: grid;
    justify-content: center;
    grid-template-rows: 30% 20% 20% 20% 20% 20%;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 300px;
    min-height: 250px;
    margin: 20px auto;
    height: 50%;
}

.items {
    text-align: center;
    line-height: 47px;
    border: 0.5px solid rgb(229, 232, 236);
    font-size: 20px;
}

.operators {
    background-color: aliceblue;
}

.items:active {
    background-color: rgb(240, 240, 234);
}

.items:hover {
    border: 2px solid rgb(241, 241, 192);
}

.operators:active {
    background-color: rgb(240, 240, 234);
}

#equalSymbol:active {
    background-color: rgba(241, 241, 234, 0.856);
}

.cornerBotL {
    border-bottom-left-radius: 10px;
}

.cornerBotR {
    border-bottom-right-radius: 10px;
}

#result {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background: rgb(26, 22, 21);
    color: #ffffff;
    text-align: right;
    padding-right: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 35px;
    line-height: 67px;
}
#secFirst {
    grid-column-start: 1;
    grid-column-end: 2;
}
#secSec {
    grid-column-start: 2;
    grid-column-end: 3;
}
#secThird {
    grid-column-start: 3;
    grid-column-end: 4;
}
#secForth {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
#equalSymbol {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
    background: rgb(240, 120, 76);
    text-align: center;
    line-height: 183px;
}

#copyright {
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 10px;
    margin: 0 auto;
    margin-top: 170px;
    margin-bottom: 30px;
    padding-right: 10px;
}

#copyrightImg {
    align-self: center;
    width: 22px;
    height: 22px;
    margin-left: 5px;
}
